{% extends 'base.html.twig' %}

{% block title %}animal details{% endblock %}

{% block body %}

    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4 text-center">{{ animal.name }}</h1>
        
        <div class="bg-white rounded-lg shadow-md p-4 mb-4">
            <div class="flex items-center">
                <div class="animal-photo flex-shrink-0">
                    {% if animal.photos|length > 0 %}
                        <img src="{{ asset('uploads/images/' ~ animal.photos[0]) }}" alt="{{ animal.name }}" class="w-96 h-96 object-cover">
                    {% else %}
                        <img src="/images/Pas-dimage-disponible.jpg" alt="Pas d'image" class="w-96 h-96 object-cover rounded-full">
                    {% endif %}
                </div>
                <div class="animal-info ml-4">
                    <h3 class="text-lg font-bold mb-2">{{ animal.name }}</h3>
                    <p class="text-gray-600">Âge: {{ animal.age }} ans</p>
                    <p class="text-gray-600">Type: {{ animal.type }}</p>
                    <p class="text-gray-600">Race: {{ animal.race }}</p>
                    <p class="text-gray-600">Prix: {{ animal.price }} €</p>
                    <p class="text-gray-600">Description: {{ animal.description }}</p>
                    <button id="contactButton" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Contacter pour acheter</button>
                    <p id="phoneNumber" class="mt-2 text-gray-600 hidden">Numéro de téléphone: 0123456789</p>
                </div>
            </div>
        </div>
            <a href="{{ path('app_animal_index') }}">
            <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Retour a la liste</button>
            </a>
    </div>

    <script>
        document.getElementById('contactButton').addEventListener('click', function() {
            document.getElementById('phoneNumber').classList.remove('hidden');
        });
    </script>

{% endblock %}