{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Détails de l'Animal</h1>

    <table class="min-w-full bg-white border border-gray-200">
        <tbody>
            <tr class="bg-gray-100 border-b">
                <th class="py-2 px-4 border-r text-left">Photo</th>
                <td class="py-2 px-4">
                    {% if animal.photos is iterable and animal.photos|length > 0 %}
                        <img src="{{ asset('uploads/images/' ~ animal.photos[0]) }}" alt="{{ animal.name }}" class="w-32 h-32 object-cover">
                    {% else %}
                        <img src="{{ asset('images/Pas-dimage-disponible.jpg') }}" alt="Image par défaut" class="w-32 h-32 object-cover">
                    {% endif %}
            </td>
            </tr>
            <tr class="border-b">
                <th class="py-2 px-4 border-r text-left">Nom</th>
                <td class="py-2 px-4">{{ animal.name }}</td>
            </tr>
            <tr class="bg-gray-100 border-b">
                <th class="py-2 px-4 border-r text-left">Âge</th>
                <td class="py-2 px-4">{{ animal.age }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 px-4 border-r text-left">Type</th>
                <td class="py-2 px-4">{{ animal.type }}</td>
            </tr>
            <tr class="bg-gray-100 border-b">
                <th class="py-2 px-4 border-r text-left">Race</th>
                <td class="py-2 px-4">{{ animal.race }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 px-4 border-r text-left">Description</th>
                <td class="py-2 px-4">{{ animal.description }}</td>
            </tr>
            <tr class="bg-gray-100 border-b">
                <th class="py-2 px-4 border-r text-left">Statut</th>
                <td class="py-2 px-4">{{ animal.status }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 px-4 border-r text-left">Prix</th>
                <td class="py-2 px-4">{{ animal.price }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Modifier</a>
        <a href="{{ path('app_admin_animal_index') }}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">Retour à la liste</a>
        {# <a href="{{ path('app_admin_animal_delete', {'id': animal.id}) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2">Supprimer</a> #}
        {{ include('admin_animal/_delete_form.html.twig') }}
        
    </div>
</div>
{% endblock %}